@import '../node_modules/materialize-css/sass/materialize';

$bg: #282a36;
$col-padding: 0.75rem;

@keyframes slide {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 150px;
    opacity: 1;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;

    background-color: $bg;
  }

  &::-webkit-scrollbar
  {
    width: 5px;
    height: 5px;
    background-color: $bg;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #50fa7b;
  }
}

html,
body {
  height: 100%;
  background-color: $bg;
}

.row {
  margin-bottom: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100%;
}

.token-highlight {
  background-color: #6d6d6d;
}

.left-col.left-col {
  position: relative;
  padding-top: 10px;
  overflow: auto;

  @include scrollbar;
}
.left-col__inner {
  position: absolute;
  left: $col-padding;
  right: $col-padding;
}

.editor {
  height: 100%;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-hscrollbar {
  @include scrollbar;
}

.right-col.right-col {
  position: relative;
  padding-top: 0;
  overflow: auto;

  @include scrollbar;
}

.right-col__inner {
  position: absolute;
  height: 100%;
  left: $col-padding;
  right: $col-padding;
}

.token-list {
  margin: 0;
}

.token-item {
  overflow: hidden;
  animation-name: slide;
  animation-duration: 500ms;
  background-color: transparent;
  padding: 0 !important;
  margin: 0!important;
  padding-bottom: 0;
  border-color: #d0d0d0;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1px solid #d0d0d0;
  color: #d0d0d0;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: #7d7c7d36;
  }
}

.token {
  padding-left: 10px;
  line-height: 15px;
  cursor: default;
}

.key {
  display: inline-block;
  width: 113px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}
